<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/chat.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='js/userSearch.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

{% extends 'base.html' %}


{% block sideBar %}
	<div id="userSearch">
		<input id="searchBox" type="text" name="" placeholder="Search">	
	</div>

	<div id="chatLIST">
<!-- 		<div class="searchResults">
			<p>Hshs</p>
		</div> -->
	</div>
{% endblock %}

{% block chat %}
	<div id="chatName">
		<h2 id="UserFullName">Chat</h2>
	</div>
	<div id="chatArea">
		<div id="chat">
				<h4 class="msg">Haha</h4>
				<h4 class="msg">Haha</h4>
			<h4 class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
		</div>
		<input id="msgArea" type="" name="" placeholder="Type message .">	
		<button></button>
		<svg id="fileUploadIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
  				<path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
  				<path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
		</svg>
	</div>
	
	
{% endblock %}




