<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/chat.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='js/userSearch.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

{% extends 'base.html' %}


{% block sideBar %}
	<div id="userSearch">
		<input id="searchBox" type="text" name="" placeholder="Search">	
	</div>

	<div id="chatLIST">
<!-- 		<div class="searchResults">
			<p>Hshs</p>
		</div> -->
	</div>
{% endblock %}

{% block chat %}
	<div id="chatName">
		<h2 id="UserFullName">Chat</h2>
	</div>
	<div id="chatArea">
		<!-- <p><span class="chatUserName">sheldon: </span><sub class="time">12:01 AM</sub></p>
		<p class="rec">farell : Hey man ssup bitch . Hey man cool ah what to do ?</p> -->
		<img id="chatAreaIcon" src="{{url_for('static', filename='icons/chatIcon.png')}}">
		<h1 id="chatAreaHeading">Start Sending</h1>
		<div id="msgInputDiv"><span class="inputUserName">You : </span><input id="msgInput" type="text" name="" autofocus></div>
	</div>
	
	
{% endblock %}




