<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/friends.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@400;500&family=Ubuntu&display=swap" rel="stylesheet">

{% extends 'base.html' %}

{% block sideBar %}
	
	<input type="text" name="" placeholder="Search">
	{% if requests %}
		{% for request in requests %}
			<div class="requests">
				<div class="requestFrom">{{request}}</div>
				<div class="requestButtons">
					<button class="requestAccept">Accept</button>
					<button class="requestReject">Not Now</button>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block chat %}
	<h1>Add Friends</h1>
	{% with friends = friendAccounts %}
		{% if friends %}
			{% for user in friends %}
				<div onclick="location.href='/profile/{{user.UserName}}';" class="profile">
					<img class="profilePic" src="{{url_for('static', filename=path[user.UserName])}}">
					<div class="nameRequest">
						<h5>{{user.FirstName}}<br/>{{user.LastName}}</h5>
						<button class="addFriendIcon"><svg class="requestIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  							<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  							<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
						</svg></button>	
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

<script type="text/javascript" src="{{url_for('static', filename='js/friends.js')}}"></script>

{% endblock %}