<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@400;500&display=swap');
	</style>
	<title>Home</title>
</head>
<body>
	{% extends "base.html" %}
	{% block sideBar %}
		
		<div id="line"></div>
		<div id="profileInfo">
			<div class="container">
				<img id="profilePicture">
				
				{% if Identity %}

				{% else %}
					<form action="/dpChange" method="POST" enctype="multipart/form-data">
						<svg id="dpChangeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
  							<path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
  							<path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
						</svg>
						<input type="file" id="hiddenDPInput" name="dp" onchange="this.form.submit()" style="display:none">
					</form>
					<svg id="dpRemove" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
  						<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
					</svg>

				{% endif %}
				
			</div>
			
			<h4 id="Name">{{userDetails.FirstName + " " + userDetails.LastName}}</h4>	
		</div>

		
		
		
	{% endblock %}

	{% block chat %}
		{% if Identity %}
			<h1>{{Identity}}'s Gallery</h1>
		{% else %}
			<h1>Gallery <button id="imageUploadButton">Upload Photo</button>
				<form method="POST" action="/imageUpload" enctype="multipart/form-data">
					<input type="file" id="hiddenImageInput" name="imag" style="display:none" onchange="this.form.submit()">
				</form>
			</h1> 
		{% endif %}
		
		<!-- <img class="leftPadding userPhotos" src="{{url_for('static', filename='profiles/penny/penny.jpg')}}"> -->
		<img class="userPhotos" onclick="location.href='/imageShow';" src="{{url_for('static', filename='profiles/sheldon/sheldon.jpg')}}">
		<!-- <img class="userPhotos" src="{{url_for('static', filename='profiles/penny/penny.jpg')}}"> -->
		
	{% endblock %}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</body>
</html>