<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
	
</head>
<body>
	<div id="outerBox">
		<form method="POST">
			<h1>
				orkut
			</h1>	
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button>Login</button>
			<a href="reset">Trouble ?</a>
			<div id="line"></div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
						<div id="errorMsg">{{msg}}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			
		</form>


		<button id="register" onclick="location.href='register';">Create Account</button>
	</div>
</body>
</html>