@font-face {
  font-family: IBM;
  src: url(../fonts/IBMPlexMono-Text.ttf);
}

@font-face {
  font-family: Consola;
    src: url(../fonts/CONSOLA.TTF);
}

input {
  margin-left: 5px;
  padding: 7px;
  width: 100%;
  background-color: transparent;
  border: 1.5px solid;
  font-family: Consola;
}

#userSearch {
  float: left;

  /*display: inline;*/
  width: 260px;
  background: url(../icons/search.svg) no-repeat scroll 240px 8px;
  /*padding-left:1px;*/
  font-family: IBM;
  margin-bottom: 5px;
}

#searchIcon {
  /*background-color: blue;*/
  /*display: inline;*/
  position: relative;
}

.searchResults {
  margin-top:   0px;
  /*border: 0.1px solid;*/
  /*margin-top: 39px;*/
  margin-bottom: 0px;
  /*margin-right: 1px;*/
}

.firstResult {
  margin-top: 39.5px;
}

p {
  margin-top: 3.8px;
  background-color: white;
  margin-bottom: 1px;
  /*height: 20px;*/
  padding: 7px;
  padding-left: 70px;
  box-shadow: 1px 1px 5px 3px #888888;
  font-size: 0.9em;
  border-right: none;
}

p:hover {
  background-color: #1877F2;
  color: white;
}

.chatLIST {
  background-color: white;
}