@font-face {
	font-family: IBM;
    src: url(../fonts/IBMPlexMono-Text.ttf);
}

h1 {
	color: #1877F2;
	margin-left: 20px;
	font-family: IBM;
}

.profile {
	margin-left: 20px;
	margin-right: 10px;
	height: fit-content;
	margin-bottom: 5px;
	width: fit-content;
	display: inline-block;
	padding: 4px;
	padding-right: 15px;
	box-shadow: 1px 1px 5px 3px #888888;
}

.profile:hover {
	background-color: #1877F2;
	color: white;
}


.profilePic {
	height: 50px;
	width: 50px;
	margin-left: 0vh;	
	padding-top: 4px;
}

.nameRequest {
	float: right;
	margin-left: 10px;
	
}

h5 {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

button {
	float: right;
	margin-top: 15px;
	background-color: transparent;
	border: none;
}
.requestIcon:hover {
	color: white;
}

