@font-face {
	font-family: IBM;
    src: url(../fonts/IBMPlexMono-Text.ttf);
}

@font-face {
	font-family: Consola;
    src: url(../fonts/CONSOLA.TTF);
}

h1 {
	color: #1877F2;
	margin-left: 20px;
	font-family: Consola;

}

.profile {
	margin-left: 20px;
	margin-right: 10px;
	height: fit-content;
	margin-bottom: 15px;
	display: inline-block;
	width: 240px;
	padding: 2px;
	padding-left: 3px;
	padding-bottom: 0px;
	padding-right: 15px;
	box-shadow: 1px 1px 5px 3px #888888;
	font-family: Consola;
}

.profile:hover {
	background-color: #1877F2;
	color: white;

}


.profilePic {
	height: 50px;
	width: 50px;
	margin-left: 0.4vh;
	/*background-color: black;*/
	float: left;
	margin-top: 4px;
}

.nameRequest {
	/*background-color: red;*/
	margin-left: 65px;
	
}

h5 {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	/*background-color: green;*/
	/*text-align: left;*/
;
}

.addFriendIcon {
	float: right;
	margin-top: 20px;
	margin-left: 15px;
	background-color: transparent;
	border: none;
}


.requestIcon:hover {
	color: white;
}

/*SIDE BAR*/

input {
	width: 81%;
	border-radius: 5px;
	margin-left: 5px;
	padding: 5px;
	padding-left: 6px;
	border: 1.5px solid;
	background-color: transparent;
	background: url(../icons/search.svg) no-repeat 235px;
	font-family: IBM;
}

.requests{
	background-color: white;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 5px 3px #888888;
	padding-bottom: 5px;
	margin-top: 2.5px;
}

.requestFrom{
	margin-left: 15px;
	font-family: Ubuntu;
	padding-top: 2px;
	font-size: 0.9em;
	font-weight: 600;
	/*color: #1877F2;*/
}

.requestButtons{
	float: left;
	display: flex;
	font-size: 0.9em;
}

.requestButtons button{
	margin-top: 5px;
	width: 70px;
	padding: 3px 10px;
	margin-left: 15px;
	font-size: 0.7em;
	background-color: #41C926;
	border: none;
	font-family: Ubuntu;
}

.requestButtons button:nth-of-type(2){
	background-color: #E74E5F;
}

