@font-face {
	font-family: IBM;
    src: url(../fonts/IBMPlexMono-Text.ttf);
}

@font-face {
	font-family: Consola;
    src: url(../fonts/CONSOLA.TTF);
}

@font-face {
	font-family: red;
    src: url(../fonts/red.ttf);
}

html {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

h1 {
	color: #1877F2;
	font-family: Consola;
	margin-bottom: 14px;
	margin-top: 10px;
	/*background-color: red;*/
	padding-left: 15px;
}

#profile {
	text-align: center;
	font-size: 1.1em;
	/*color: #434A56;*/
	font-family: IBM;
	margin-bottom: 1vh;
	color: #1877F2;
	box-shadow: 1px 1px 5px 3px #888888;
	margin-left: 19%;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

#line {
	border-top: 1px solid #DADDE1;
	width: 70%;
	margin-left: 25%;
	margin-bottom: 3%;

}

img {
	height: 150px;
	width: 18vw;
	margin-left: 3.18vh;
	box-shadow: 1px 1px 5px 3px #888888;
}

#Name {
	margin-left: 13vh;
	margin-top: 5px;
	color: #1877F2;
	font-family: IBM;
}


.sideIcons {
	margin: 25%;
	color: #F7F7F7;
	padding: 2px;
}

svg:hover {
	color: black;
}

.infoIcons {
	margin-left: 20px;
	/*padding-top: 5px;*/
	float: left;
	margin-right: 15px;
}

.details {
	background-color: red;
	margin-top: 0px;
	height: fit-content;

}



#sideBar {
	background-color: #F0F2F5;
	padding: 2px;
	width: 25.5%;
	height: 95.5vh;
	word-wrap: break-word;
	margin-right:0.4% ;
	float: left;
	border: 1px solid;
	box-shadow: 1px 1px 5px 3px #888888;

}

#chatWindow {
	width: 73%;
	height: 96.3vh;
	/*padding: 2px;*/
	display: inline-block;
	word-wrap: break-word;
	/*border: 1px solid;*/
	box-shadow: 1px 1px 5px 3px #888888;

}

#icons {
	float: left;
	height: 95.5vh;
	background-color: #CCCCCC;
	width: 17%;
	border-right: 1px solid;
	box-shadow: 1px 1px 5px 3px #888888;
}

#fIcon {
	margin: 23%;
	margin-top:19.1vh;
	margin-bottom: 1%;
	padding: 2px;
}

#chatIcon {
	margin-bottom: 10%;
}

#friendsIcon {
	margin-top: 2%;
	margin-bottom: 3px;
	margin-left: 14px;
}

#logout {
	margin-left: 20%;
	margin-top: 10%;
}

/*PROFILE AREA*/

.leftPadding {
	margin-left: 61px;

}



.bi-camera-fill {
	position: absolute;
	left: 270px;
	top: 180px;
	color: #1877f2;
}

.bi-camera-fill:hover {
	color: grey;
}

#dpRemove {
	color: grey;
	position: absolute;
	top: 182px;
	left: 295px;
	color: red;
}

#dpRemove:hover{
	color: white;
}

.userPhotos {
	margin-right: 1px;
	width: 250px;
	height: 150px;
	margin-bottom: 10px;
}

.left{
	margin-left: 57.5px;
}