@font-face {
	font-family: IBM;
    src: url(../fonts/IBMPlexMono-Text.ttf);
}

@font-face {
	font-family: Consola;
    src: url(../fonts/CONSOLA.TTF);
}

html {
	background-color: white;
	font-family: Consola;
}

#popUp {
	display: flex;
	align-items: center;
	width: 99vw;
	/*box-shadow: 1px 1px 5px 3px #888888;*/
	background-color: black;
}

img {
	display: block;
	margin: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#imgDiv{
	height: 560px;
	margin-top: 0px;
	width: 910px;
	display: flex;
	justify-content: center;
	}

#likesListDiv{
	height: 560px;
	width: 910px;
	position: fixed;
	top: 1.4vh;
	background-color: rgba(0,0,0,0.7);
	display: none;
}

#likesList{
	position: fixed;
	width: 500px;
	padding-bottom: 10px;
	height: fit-content;
	max-height: 400px;
	background-color: #242526;
	margin-left: 305px;
	margin-top: 75px;
	border-radius: 10px;
	color: #939598;
	overflow-y: scroll;
}

#likesList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#likesList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#likesHeading{
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #4292FF;
	font-family: Consola;
}

#closeIconLikes{
	position: absolute;
	top: 10px;
	right: 2.5%;
}

#likesLine{
	width: 500px;
	height: 1px;
	background-color: #3A3B3C;
}

.userAccounts{
	display: flex;
	height: fit-content;
}

.userAccounts img{
	height: 40px;
	width: 48.5px;
	border-radius: 90%;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 1px;
}

.userAccounts p{
	margin-left: 10px;
	margin-top: 20px;
}

.userAccounts p:hover{
	text-decoration: underline;
	cursor: pointer;
}

#likeCommentDiv {
	height: 560px;
	position: absolute;
	top: 10px;
	right: 5px;
	width: 330px;
	background-color: #242526;
	/*background-color: green;*/
	box-shadow: 1px 1px 5px 3px #888888;
	border: 1px solid;
	margin-left: 20px;
	padding-left: 20px;
	/*opacity: 30%;*/
}

#imageUser {
	color:#D0D2D6;
	font-family: Consola;
	margin-bottom: 0px;
}

#imageLocation{
	margin-top: 5px;
	display: inline;
	margin-left: 3px;
}

#imageQuote{
	font-size: 0.9em;
}

#editButton {
	background-color: transparent;
	padding: 0.5px;
	padding-left: 2px;
	font-size: 0.7em;
}

#editButton:hover{
	color: #1972E6;
}

p{
	color: white;
	font-family: Consola;
	padding-right: 20px;
}

#likes {
	position: relative;
}

#likeButton {
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
}

#likeCount{
	margin: 0px;
	display: inline-block;
	position: absolute;
	top: 2.5px;
	left: 27px;
	font-size: 0.8em;

}

#likedUsers{
	font-size: 0.8em;
}

#noLikes{
	visibility: hidden;
	font-size: 0.8em;
}

.fUser{
	cursor: pointer;
}

.oUser{
	cursor: pointer;
}

.line {
	background-color: #3A3B3C;
	height: 1px;
	width: 94%;
	margin-bottom: 5px;
	margin-top: 3px;
}

#likeCommentIconsDiv{
	display: flex;
}

#photoLiked{
	color: #B5B7B8;
}

#likeDiv{
	color: #B5B7BC;
	width: 30%;
	padding-left: 0px;
	position: relative;
	border: none;
	background-color: transparent;

}

#likeDiv:hover {
	background-color: #3A3B3C;
}

#commentDiv {
	border: none;
	background-color: transparent;
	color: #B5b7bc;
	width: 32%;
	padding: 2px 3px;
}

#commentDiv:hover {
	background-color: #3a3b3c;
}


#shareDiv {
	color: #B5b7bc;
	width: 32%;
	padding: 2px 3px;
	background-color: transparent;
	border: none;
}

#shareDiv:hover {
	background-color: #3a3b3c;
}

#photoCommentsDiv{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 57vh;
	width: 90%;
	padding-left: 10px;
	margin-bottom: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#photoCommentsDiv::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#photoCommentsDiv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.photoComment{
	width: 100%;
}

.reply{
	margin-left: 30px;
	max-width: 90%;
}

.userCommentDP{
	height: 40px;
	width: 48.5px;
	border-radius: 90%;
	float: left;
	margin-top: 12px;
	margin-right: 7px;
}

.commentOptions{
	display: flex;
	flex-direction: column;
}

.comment{
	margin-bottom: 0px;
	font-size: 0.85em;
	padding-right: 0px;
	word-wrap: break-word;
}

.uname{
	cursor: pointer;
}

.likeReply{
	display: flex;
}

.likeButton{
	font-size: 0.7em;
	margin-top: 5px;
	color: #a5b1bc;
	cursor: pointer;
}

.replyButton{
	font-size: 0.7em;
	color: #A5B1BC;
	margin-top: 5px;
	cursor: pointer;
}

.commentReply{
	color: #1877F2;
}

#commentInputDiv{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-right: 5px;
	position: absolute;
	visibility: hidden;
	bottom: 5px;
	right: 5px;
}

#commentInput{
	padding: 5px;
	border: 1px solid ;
	height: 4vh;
	color: white;
	margin-top: 1vh;
	width: 21.6vw;
	background-color: transparent;
	border-radius: 7.5px;
}


#deleteInputIcon{
	margin-top: 2.1vh;
	margin-left: 0.5vw;
	/*color: #ea4335;*/
}

#deleteInputIcon:hover{
	color: #ea4335;
}

#closeIcon {
	position: absolute;
	top: 10px;
	left: -910px;
}

svg{
	color: #B5B7BC;
	/*margin-left: 7px;*/
	margin-top: 0px;
	margin-right: 3px;
}

svg:hover{
	color: #1877f2;
}

/*DROP DOWN CSS*/
/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  font-size: 0.7em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#deleteButton:hover{
	background-color: #FF0000;
	color: white;
}